html {
    height: 100%;
    background: #ededed;
}
body {
    min-height: 100%;
    max-width: 728px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 10px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Overlock', cursive;
}
.mn_wrapper {
    padding-bottom: 15px;
}
.mn_logo {
    margin: 0 -10px 10px;
    padding: 0;
    text-align: center;
    background: #153761;
}
.mn_heading {
    margin-bottom: 25px;
}
.nav-pills {
    margin-bottom: 15px;
}
.validation_sign {
    color: #F0AD4E;
}
.mn_popover {
    color: blue;
    cursor: pointer;
}
.next_prev {
    text-align: center;
}
@media only screen and (min-width: 400px) {
    body {
        padding: 0 20px;
    }
    .mn_logo {
        margin: 0 -20px 10px;
    }
}