html {
    height: 100%;
    background: #ededed;
}
body {
    min-height: 100%;
    max-width: 728px;
    background: #002c73;
    margin: 0 auto;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Overlock', cursive;
    text-align:center;
}
a {
    color:#002c73;
}
a:hover {
    color:#707170;
}
.btn-primary {
    background-color:#002c73;
    border-color:#002c73;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color:#002c73;
    border-color:#002c73;
}
.btnAdd {
    background-color:#bbbdc0;
    margin-bottom:5px;
}
.mn_wrapper {
    padding:0 10px 15px;
    background-color: #fff;
}
.mn_logo {
    margin: 0;
    padding: 0;
    text-align: center;
}
.mn_logo img {
    padding:20px 0;
    height:120px;
}
.mn_heading {
    margin-bottom: 25px;
}
.nav-pills {
    padding: 15px 0;
    text-align:center;
}
.nav-pills > li {
    display:inline-block;
    float:none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color:#002c73;
}
.validation_sign {
    color: #F0AD4E;
}
.has-error .validation_sign {
    color:#a94442;
}
.has-success .validation_sign {
    color:#3c763d;
}
.mn_popover {
    color: blue;
    cursor: pointer;
}
.next_prev {
    text-align: center;
}
.getting_started li {
    display:table;
    width:100%;
    padding:2px 0;
}
.getting_started li i, .getting_started li span {
    display:table-cell;
    vertical-align: middle;
}
.getting_started li i {
    width:15%;
}
.jumbotron {
    background:#fff;
}
.jumbotron h2 {
    color:#002c73
}
footer {
    color: #fff;
    padding: 10px;
    overflow: hidden;
    text-align:center;
}
@media only screen and (min-width: 400px) {
    .mn_wrapper {
        padding: 0 20px 15px;
    }
}