html {
    height: 100%;
    background: #ededed;
}
body {
    min-height: 100%;
    max-width: 728px;
    background: #153761;
    margin: 0 auto;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Overlock', cursive;
    text-align:center;
}
a {
    color:#002c73;
}
a:hover {
    color:#707170;
}
.btn-primary {
    background-color:#002c73;
    border-color:#002c73;
}
.mn_wrapper {
    padding:0 10px 15px;
    background-color: #fff;
}
.mn_logo {
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}
.mn_heading {
    margin-bottom: 25px;
}
.nav-pills {
    padding: 15px 0;
    text-align:center;
}
.nav-pills > li {
    display:inline-block;
    float:none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color:#002c73;
}
.validation_sign {
    color: #F0AD4E;
}
.mn_popover {
    color: blue;
    cursor: pointer;
}
.next_prev {
    text-align: center;
}
footer {
    color: #fff;
    padding: 10px;
    overflow: hidden;
}
@media only screen and (min-width: 400px) {
    .mn_wrapper {
        padding: 0 20px 15px;
    }
}